body {
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;
  background-color: beige;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  padding-left: 10%;
  background-color: rgb(7, 116, 61);
  height: 50px;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: black;
  font-size: 3vw;
  color: beige;
  text-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

button {
  outline: none;
}

.border-sides {
  border-left-color: rgb(7, 116, 61);
  border-right-color: rgb(7, 116, 61);
  border-left-style: solid;
  border-right-style: solid;
  border-width: 40px;
}

.submit-main {
  padding-top: 60px;
  padding-left: 10%;
  padding-right: 10%;
}

.add-post-title {
  font-size: 150%;
  font-weight: bold;
  color: rgb(7, 116, 61);
}

.submit-labels {
  font-weight: bold;
  color: rgb(7, 116, 61);
}

.label-slot {
  margin-top: 3%;
}

.label-slot.err:after {
  content: attr(err-text);
  color: red;
  font-size: small;
  font-weight: bold;
}

.text-area.err textarea,
.text-area.err input {
  border-color: red;
}

textarea {
  resize: none;
}

.author-post {
  outline: none;
}
.title-post {
  outline: none;
}

.content-post {
  width: 100%;
  height: 20%;
  outline: none;
}

.button-holder {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.button-submit {
  cursor: pointer;
  width: 20%;
  height: 5%;
  border-radius: 25px;
  background-color: rgb(7, 116, 61);
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

@media screen and (max-width: 768px) {
  .button-submit {
    width: 30%;
    height: 7%;
  }
}

.button-submit:hover {
  background-color: beige;
  color: rgb(7, 116, 61);
}

.button-text {
  font-weight: bold;
  float: right;
  height: 75%;
  width: 80%;
  text-align: center;
}

.fox-head {
  float: left;
  height: 80%;
  width: 20%;
}

.posted-main {
  border: rgb(7, 116, 61) solid;
  border-width: 20px;
  margin-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.posted-main h2 {
  color: rgb(7, 116, 61);
}

.posted-slot {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 3%;
  padding-bottom: 1%;
  background-color: rgb(182, 235, 186);
}

.posted-title {
  padding-left: 2%;
  font-weight: bold;
  font-size: 150%;
  margin-top: 1%;
  margin-bottom: 1%;
  word-wrap: break-word;
}

.posted-content {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.posted-misc {
  margin: 2%;
  margin-bottom: 1%;
  font-weight: bolder;
  color: rgb(7, 116, 61);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.likebar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.likebar p {
  font-weight: bolder;
  color: rgb(7, 116, 61);
}

.likebar button {
  cursor: pointer;
  border-radius: 2px;
  background-color: rgb(182, 235, 186);
  border: none;
  margin: 2%;
  color: rgb(7, 116, 61);
}
.likebar button:nth-child(1) {
  color: red;
}

.likebar button:active {
  opacity: 0.6;
}

footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: rgb(7, 116, 61);
  padding-top: 20px;
  color: bisque;
  text-align: center;
}
