* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Courier Prime', monospace;
  background-color: beige;
}

header {
  display: flex;
  align-items: center;
  padding-left: 10%;
  background-color: rgb(7, 116, 61);
  height: 9%;
  border-width: 1px;
  border-bottom-style: solid;
  border-color: black;
  font-size: 3vw;
  color: beige;
  text-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

wrapper {
  height: 90.8%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  left: 0;
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(7, 116, 61);
  border-bottom: 100px, solid, rgb(182, 235, 186);
}

nav h2 {
  color: bisque;
}

nav p {
  margin-top: 20%;
}

img {
  margin-top: 25%;
}

nav button {
  cursor: pointer;
  background-color: rgb(7, 116, 61);
  outline: none;
  border: none;
  font-family: 'Courier Prime', monospace;
  color: beige;
}

nav button:hover {
  text-shadow: 2px 2px 10px bisque;
}

nav button:active {
  color: rgb(182, 235, 186);
}

/* wrapper > div {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  background-color: rgb(182, 235, 186);
  padding: 2%;
  border-radius: 5px;
} */
/* 
h1 {
  text-align: center;
  color: rgb(7, 116, 61);
  margin-bottom: 1%;
}

.welcome {
  width: 90%;
}

.login {
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  margin-bottom: 15%;
  padding: 2%;
  outline-color: rgb(7, 116, 61);
}

input {
  border: none;

  border-radius: 2px;
}

button {
  cursor: pointer;
  border-color: rgb(7, 116, 61);
  border-radius: 5px;
  color: beige;
  background-color: rgb(7, 116, 61);
}

button:hover {
  color: rgb(7, 116, 61);
  background-color: beige;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(7, 116, 61);
}

a:hover {
  text-decoration: underline;
} */

footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: rgb(7, 116, 61);
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
