:root {
  --darkgreen: rgb(7, 116, 61);
  --lightgreen: rgb(182, 235, 186);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  font-family: 'Courier Prime', monospace;
  background-color: beige;
  position: relative;
}

header {
  z-index: 1;
  user-select: none;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
  background-color: var(--darkgreen);
  height: 70px;
  border-bottom: 1px solid black;
  font-size: 3vw;
  color: beige;
  text-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.wrapper {
  padding-top: 70px;
  padding-bottom: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.instructions {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin-top: 2%;
  background-color: var(--lightgreen);
  border-radius: 5px;
}

.instructions p {
  text-align: center;
}

h2 {
  color: var(--darkgreen);
  margin-bottom: 2%;
}

a {
  margin-top: 1%;
  text-decoration: none;
  font-weight: bold;
  color: var(--darkgreen);
}

a:hover {
  text-decoration: underline;
}

.posted-main {
  border: var(--darkgreen) solid;
  border-width: 20px;
  border-radius: 5px;
  margin: 4% 5%;
  padding: 3%;
}

.post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.post-head h2 {
  margin-bottom: 0;
}

.sort-form {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

label[for='sort-select'] {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  margin-right: 2%;
}

.sort-form select {
  border-radius: 5px;
  border: none;
  background-color: var(--darkgreen);
  color: beige;
  margin-right: 2%;
}

.sort-form select:focus {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sort-form option,
.sort-form select {
  cursor: pointer;
  outline: none;
}

.posted-slot {
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 3%;
  padding-bottom: 1%;
  background-color: var(--lightgreen);
}

.posted-title {
  padding-left: 2%;
  font-weight: bold;
  font-size: 150%;
  margin-top: 1%;
  margin-bottom: 1%;
  word-wrap: break-word;
}

.posted-content {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
}

.posted-misc {
  margin: 2%;
  margin-bottom: 1%;
  font-weight: bolder;
  color: var(--darkgreen);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.likebar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.likebar p {
  font-weight: bolder;
  color: var(--darkgreen);
}

@media screen and (max-width: 635px) {
  .posted-main {
    margin: 4% 0%;
  }

  .sort-form {
    width: 50%;
  }
}
